
@{
    ViewBag.Title = "Movie List";
}
<h2>My Movie List</h2>

<p>Hello from our View Template!</p>

<button type="button" style='width:100px;height:20px' onclick="location.href='@Url.Action("GetJson")'">JSON</button>
<button type="button" style='width:200px;height:20px' onclick="location.href='@Url.Action("Plik")'">Download File</button>


