@model ASP.NET.Models.Person

@{
    ViewData["Title"] = "PersonEdit";
}

<h2>Edit Person</h2>

<h4>Person</h4>
@using (Html.BeginForm("PersonEdit", "Home"))
{
    @Html.EditorFor(m => m)

    <input type="submit" value="Edit" />

}

